@media (max-width: 632px) {

     .nav{
          height: 8vh;
     }
     .responcemenu{
       position: absolute;
       color: white;
       display: flex;
       flex-direction: column;
       width: 100%;
       left: 0%;
     }
     .responcemenu{
          display: none;
     }
     .responcemenuul{
          margin-top: 5vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 7px;
          font-size: 1.5rem;
     }
     .contactbtn{
          width: fit-content;
     }
     .menubtn{
       font-size: 1.6rem;
     }
     .navlogo{
       width: 25vw;
     }
     .contactbtnparent{
          width: 100%;
          margin-top: 3vh;

     }
     .responcemenuparent{
          display: none;
          position: absolute;
          top: 100%;
          left: 0%;
          height: 100vh;
          width: 100vw;
          backdrop-filter: blur(10px);
          background-color: rgba(0, 0, 0, 0.521);
     }

     /* Hero page responcive here */

     .heroheading{
          padding: 0 15px;
          font-size: 3rem;
          line-height: 47px;
          margin-bottom: 2vh;
     }
     .heroimage{
          margin-top: 6vh;
     }
     .herocmpnylogo{
          padding:0 15px ;
          overflow-x: scroll;
     }
     .googleimage{
          top: -4vh;
          left: -4vw;
     }
     .graphimage{
          top: 27vh;
          right: 2vw;
     }
     .serviceinhero{
          margin-top: 6vh;
     }
     .serviceinhero h1{
          font-size: 2.4rem;
          font-weight: 700;
     }
     .servicecomponent{
          display: flex;
          flex-direction: column-reverse;
     }
     .servicecomponentimg{
          padding: 0 25px;
     }
     .footerheading{
          font-size: 1.6rem;
     }
     .aboutmainheading{
          margin-bottom: 6vh;
     }
     .aboutcard{
          display: flex;
          flex-direction: column;
     }
     .aboutcardbottom{
          margin-top: 50px;
     }
     .aboutchoosingcard{
          border: 0;
     }
     .aboutchoosingcard2, 
     .aboutchoosingcard3 {
          border-top: 1px solid rgba(31, 31, 31, 0.89);
          margin: 2vh 0;
     }
     .aboutjurneyheading{
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 4vh;
     }
     .aboutjurneyparent{
          padding: 0 17px ;
     }
     .aboutseller{
          padding: 0 12px;
     }
     .veriheading{
          font-weight: 700;
          margin-top: 5vh;
     }

     .veribody{
          height: auto;
     }
     .veribtncont{
          height: 200px;
          /* background-color: red; */
     }
     .veribtn{
          width: 40px;
          height: 40px;
     }
     .veridispl{
          position: relative;
          height: 220px;
          margin-top: 4vh;
          margin-bottom: 2vh;
          /* background-color: red; */
     }
     .veridispl h1{
          font-weight: 700;
     }
     .verybtntext{
          font-size: 0.83rem;
     }
     .verybtnwdth{
          width: 90%;
     }
     .verifaqsparent{
          display: flex;
          flex-direction: column-reverse;
     }
     .veryfaqsimg{
          margin-bottom: 5vh;
     }

     /* Footer responcive */

     .footerimg{
          height:8vh;
     }

     /* contact responcive */

     .contform form{
          padding: 40px 20px;
          margin-top: 8vh;
          margin-bottom: 7vh;
     }
     .contformheading{
          font-weight: 700;
          text-align: center;
          margin-bottom: 4vh;
     }
     .contdetails{
          padding: 0 18px;
     }
     .contformp{
          flex-wrap: wrap;
     }
     .contformspan{
          display: flex;
          flex-direction: column;
     }
     .contsellsec{
          font-weight: 700;
     }
     .conttalknumber{
          font-size: 60px;
          line-height: 60px;
          font-weight: 700;
          margin-bottom: 4vh;
     }
     .contcard{
          width: 95vw;
          height: 300px;
          margin-top: 15vh;
     }
     .contcardtext{
          font-size: 1rem;
          padding: 0 10px;
          height: 15vh;
     }
     .contcardtext1{
          left: 0%;
          top: -10%;
     }
     .contcardtext2{
          left: 78px;
          top: 60px;
     }
     .contcardtext3{
          left: 208px;
          top: 140px;
     }
     .contcardtext4{
          left: 120px;
          top: 220px;
     }
     .contcardimg{
          height: 4vh;
     }

     /* Blog page responcive */

     .bolgpgfrstdv{
          padding: 3vh;
     }

     .blogpgcont{
          display: flex;
          flex-direction: column-reverse;
     }
     .navlogo{
          height: 100%;
          width: 9vw;
          object-fit: cover;
     }
   }